build/
dist/

*.spec

__pycache__
python/kanboard-CLI/secrets.go

curl.txt
go/kanboardCli/cmd/secrets.go
go/generativeGo/wpgen/Outputs/
python/kanboard-CLI/tasks.pdf
go/generativeGo/generative-art-in-go.pdf
python/dashboard_gen/*.pdf
